.logo{
  width:80px;
  height:55px;
  display: block;
  margin: auto;
}
#theme{
  height:50px;
  border-radius:50%;
  background-color:black;
  color:white;
}

.navbar{
  list-style-type: none;
  background-color: #333333;
  margin-top: 5px;
  border-radius:50px;
}
li {
  float: left;
  
}
li a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color:#0070B6;
}


.heading{
  color:white;
  font-size:25px;
}


.d-block{
  height:250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rows{
  width:200px;
  height:120px;
  border-radius: 8%;
  margin-left: 10px;
  
}
.trend{
  display:flex;
  overflow:auto;
}

.langrec{
     width:400px;
     height:230px;
     margin-left: 10px;
     margin-bottom: 5px;
     background-color:black;
     border: 0.5px solid grey;
     border-radius: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
  
}
.langbox{
  display: flex;
  overflow: auto;
  
}
.langimg{
  width:320px;
  height:228px;
  border-radius:10%;
  
}
.lang{
  color:silver;
  font-family:  "Brush Script MT", cursive;
  font-size:40px;
  
}



.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
}

.footer-btn {
    background-color: black;
    color: white;
    width:85px;
    height: 45px;
    border-radius:20px;
}

.footer-btn:hover {
    background-color:#0070B6;
}

