.logo{
  width:80px;
  height:55px;
  display: block;
  margin: auto;
}

.heading{
  color:white;
  font-size:25px;
}
.d-block{
  height:250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rows{
  width:200px;
  height:120px;
  border-radius: 8%;
  margin-left: 10px;
  
}
.trend{
  display:flex;
  overflow:auto;
  align-items: center;
}

.langbox{
     width:400px;
     height:250px;
     margin-left: 10px;
     margin-bottom: 5px;
      background-color:grey;
  
}
.lang{
  
  display: flex;
  overflow: auto;
}
.langimg{
  width:400px;
  height:250px;
}

.b1{
  background-color:black;
  color:white;
  border-radius:50%;
  height:50px;
  display: flex;
  align-items: center;
  border:none;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
}

.footer-btn {
    background-color: black;
    color: white;
    width:85px;
    height: 45px;
    border-radius: 20%;
}

.footer-btn:hover {
    background-color:#0070B6;
}

