.logo{
  width:80px;
  height:55px;
  display: inline;
  
}

#dark{
  display: none;
}
.thembtn{
  height: 50px;
  border-radius: 50%;
  background-color:white;
  color:black;
  float: right;
  animation: color 4s infinite alternate;
}
@keyframes color{
  from {background-color:white;}
  to {background-color: black;}
  from{color: black;}
  to{color: white;}
}

.textbox{
  width: 100%;
  display: flex;
  justify-content: center;
}
pre {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 1rem 0 0 1rem;
  width: fit-content;
  padding: 2rem;
  background-color: #2b2e59;
  color: white;
  border-radius: 12px;
  
}

.lineOfCode {
  animation: typingEffect 1.5s steps(30,end) forwards 1.5s, caretAnim 500ms steps(30, end) 0s infinite;
  overflow: hidden;
  width: 0;
  height: auto;
  border-right: 2px solid #ffffff;
}
.lineOfCode:nth-of-type(2) {
  height: 0;
  animation-delay: 3100ms;
}
.lineOfCode:nth-of-type(3) {
  height: 0;
  animation-delay: 5200ms;
}
@keyframes typingEffect {
  0% {
      border-width: 2px;
  }
  5% {
      width: 0;
      height: auto;
      border-width: 2px;
  }
  100% {
      width: 15ch;
      height: auto;
      border-width: 0;
  }
}
@keyframes caretAnim {
  0%,100% {
      border-color: transparent;
  }
  50% {
      border-color: #ffffff;
  }
 
}

.solar {
  height: 142px; 
  width: 142px; 
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.sun {
  position: absolute;
  top: 53px; 
  left: 53px; 
  width: 36px;
  height: 36px; 
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 11px orangered;
}
.earth, .moon {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-radius: 50%;
  border-width: 0.33px 0.33px 0 0; 
}

.earth {
  top: 18px; 
  width: 100px; 
  height: 100px; 
  animation: orbit 15s linear infinite;
}

.moon {
  top: 0;
  right: 0;
  width: 29px;
  height: 29px; 
  animation: orbit 4s linear infinite;
}

.earth::before, .moon::before {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.earth::before {
  top: 10px; 
  right: 10px;
  width: 11px; 
  height: 11px; 
  background-color: aqua;
}

.moon::before {
  top: 3px;
  right: 1px;
  width: 4px; 
  height: 4px; 
  background-color: silver;
}

@keyframes orbit {
  to { transform: rotate(360deg); }
}


.navbar{
  list-style-type: none;
  background-color: #38444d;
  margin-top: 5px;
  border-radius:50px;
}
li {
  float: left;
  
}
li a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color:hsla(210, 92%, 54%, 1);
  font-size: 20px;
}


.heading{
  color:white;
  font-size:25px;
  text-shadow: 0px 0px 5px black;
  font-family:Georgia, sans-serif;
}


.d-block{
  aspect-ratio: 14/6;
  margin:10px ;
}

.rows{
  width:200px;
  height:120px;
  border-radius: 1px 10px;
  margin-left: 10px;
  
}
.trend{
  display:flex;
  overflow:auto;
}

.langrec{
     width:400px;
     height:230px;
     margin-left: 10px;
     margin-bottom: 5px;
     background-image: linear-gradient(to right,black, hsla(210, 92%, 54%, 1));
     border: 0.5px solid grey;
     border-radius: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
  
}
.langbox{
  display: flex;
  overflow: auto;z
  
}
.langimg{
  width:320px;
  height:228px;
  filter: drop-shadow(1px 1px 5px black);
  
}
.lang{
  color:white;
  font-size:23px;
  
}

.optbtn{
        
        position: fixed;
        bottom: 11%;
        display: flex;
        justify-content: center;
        width: 100%;
}


.bottombuttongroup{
        
        display: flex;
        justify-content: center;
}

.bottombuttonsingle{
        display: flex;
        justify-content: center;
}



.bottombuttonclub{

        position:fixed;
        bottom: 2.0%;
        width:100%;
        
}

.circlebutton{
      background-color:#06487f;
      height: 60px;
      width: 60px;
      margin: 2.5px;
      color: rgb(255, 255, 255);
      border-radius: 50%;
      border:none;
      cursor: pointer;
      
  
}
.circlebutton:active{
  transform: translateY(3px);
}

#btn1,#btn2,#btn3,#btn3,#btn4,#btn5{
  display: none;
}


/*Removing the scroll bar during overflows*/
    
            /* Hide scrollbar for Chrome, Safari and Opera */
            .langbox::-webkit-scrollbar {
                display: none;
            }
            .langbox {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }

            .trend::-webkit-scrollbar {
                display: none;
            }
            .trend {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
            
/*Removing the scroll bar during overflows*/







